main{
    background: linear-gradient(150deg, var(--cor-amarela), var(--cor-azul));
    height: auto;
    min-height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow-x: hidden;
}

main .btn{
    width: 350px;
}

h1{
    color: black !important;
}

.img-pikachu{
    width: 300px;
}

.pagination .active{
    --bs-pagination-active-bg: #25569d;
}

.pagination .disabled{
    --bs-pagination-disabled-bg: #959393;
}

.pagination li a{
    background-color: var(--cor-azul);
    color: white;
}

.img-pokemon{
    width: 380px;
    display: block;
}

.div-pokemon{
    display: inline-block;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 0px;
    width: 115px;
    box-shadow:4px 4px 7px black;
}

.normal{
    background-color: bisque;
    color: black;
}
.fire{
    background-color: red;
}
.water{
    background-color: blue;
}
.grass{
    background-color: #02d102;
}
.flying{
    background-color: #a890f0;
}
.fighting{
    background-color: #a92923;
}
.bug{
    background-color: #a8b820;
}
.poison{
    background-color: #a040a0;
}
.electric{
    background-color: #f8d030;
    color: black;
}
.ground{
    background-color: #e0c068;
}
.rock{
    background-color: #b8a038;
}
.ice{
    background-color: #98d8d8;
    color: black;
}
.psychic{
    background-color: #f85888;
}
.ghost{
    background-color: #705898;
}
.steel{
    background-color: #b8b8d0;
    color: black;
}
.dragon{
    background-color: #7038f8;
}
.dark{
    background-color: #2e2e2e;
}
.fairy{
    background-color: #f0b6bc;
    color: black;
}

.fade-left {
    animation-name: fadeInLeft;
    animation-duration: 0.9s;
    animation-fill-mode: both;
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 991.98px) {
    main .btn {
        width: 300px;
    }
    .img-pokemon{
        width: 330px;
    }
}

@media (max-width: 767.98px) {
    main .btn{
        width: 250px;
    }  
    .img-pokemon{
        width: 280px;
    }
}

@media (max-width: 575.98px) {
    main .btn{
        width: 200px;
    }  
    .img-pokemon{
        width: 230px;
    }
}

@media (max-width: 408.98px){
    main .btn{
        width: 170px;
    }
    .img-pokemon{
        width: 190px;
    }
}