main{
    background: linear-gradient(150deg, var(--cor-amarela), var(--cor-azul));
    min-height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.pagination li a{
    background-color: var(--cor-azul);
    color: white;
}

main .btn{
    width: 350px;
}